*{
    background-color: rgb(1, 11, 9);
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    color:white;
}

.main_body{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    max-width:80%;
    min-width: 50%;
    border: 1px solid greenyellow;
  
}

.main_head{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    font-family: sans-serif;
    border: 1px solid greenyellow;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-transform: capitalize;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }



.imgtext{
    background-color: transparent;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
}

.hp{
    background-color: transparent;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}



img{
    width: 130px;
    border-radius: 20px;
}

.text_section{
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.text_output{
    background-color: grey;
    width: 100%;
    font-size: 12px;
    padding: 15px;
    padding-left: 30px;
    white-space: pre-line;
}

.button_section{
    width: 100%;
    height: auto;  
   text-align: center;
   padding: 15px;
   font-size: 18px;
   font-weight: bold;
}

.mybtn{
    color:black;
    padding:15px;
    border-radius: 10px;
    background-color: white;
    border:none;
    outline:none;
    cursor: pointer;
}

@media (max-width:900px) {
    .main_body{
       min-width: 98%;
    }
}